* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

body {
  font-family: "Kanit", sans-serif;
}

.nav {
  padding: 1em 0;
  background-color: #f4f7fb;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
}
.nav__container__left {
  padding-top: 0.8em;
}
.nav__container__center ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  padding-top: 1em;
}
.nav__container__center ul li {
  font-size: 1.2rem;
  padding: 0 1em;
}
.nav__container__center ul li a {
  padding: 1em;
}
.nav__container__center ul li a:hover {
  background-color: #eea539;
}
.nav__container__right ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
}
.nav__container__right img {
  padding: 0 1em;
}

.hero {
  padding: 3em;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
}
.hero__left {
  width: 40%;
  text-align: left;
}
.hero__left h1 {
  padding: 0.2em 0;
  font-size: 4rem;
}
.hero__left--orange {
  color: #eea539;
}
.hero__left__search {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  width: 50%;
  border-radius: 10px;
  margin: 2em 0;
  border: 2px solid #000;
}
.hero__left__search form {
  width: 100%;
}
.hero__left__search form input {
  font-size: 1em;
  border: none;
  width: 60%;
}
.hero__left__search button {
  padding: 2em;
  background-color: #000;
  color: #fff;
  border: #000;
  width: 20%;
}
.hero__left__search i {
  width: 5%;
}
.hero__left__stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
}
.hero__left__stats__img {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  background-color: #000;
  border-radius: 50%;
  padding: 1em;
  height: 70px;
  width: 70px;
}
.hero__left__stats__left, .hero__left__stats__center, .hero__left__stats__right {
  background-color: #f4f7fb;
  padding: 1.5em;
}
.hero__right {
  padding-top: 2em;
}
.hero__right__img {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  gap: 1em;
}

.menu {
  text-align: center;
}
.menu--orange {
  color: #eea539;
}
.menu__list {
  width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid rgba(92, 92, 92, 0.397);
}
.menu__list ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
}
.menu__list ul li a h3 {
  padding: 2em 0;
}
.menu__list ul li a:hover {
  border-bottom: 5px solid #eea539;
  color: #eea539;
}
.menu__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  margin-top: 2.5em;
}
.menu__container div button {
  font-size: 1rem;
  background-color: #000;
  color: white;
  border: black;
  padding: 1em 4em;
  margin-top: -1em;
  font-weight: bold;
}
.menu__container__variety {
  width: 20vw;
  background-color: #f4f7fb;
  padding: 2em;
  padding-top: 10em;
  margin-top: -10em;
}
.menu__container__variety p {
  padding: 1em 0;
  color: rgba(92, 92, 92, 0.397);
}
.menu button {
  color: #fff;
  background-color: #eea539;
  font-size: 1rem;
  border: none;
  padding: 1em 4em;
  font-weight: bold;
  border-radius: 5px;
  margin: 3em 0;
}

.about {
  margin: 6em 0;
}
.about span {
  color: #eea539;
}
.about h2 {
  padding: 1em 0.4em;
  font-size: 3rem;
}
.about p {
  padding: 0 0 1em 1.2em;
  font-size: 1.5rem;
}
.about__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  text-align: left;
}
.about__container__content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  background-color: #f4f7fb;
  height: 76vh;
}
.about__container__content__qualities {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 10px;
  text-align: left;
}
.about__container__content__qualities p {
  color: rgba(92, 92, 92, 0.397);
}
.about__container__content__qualities__img {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  background-color: #000;
  border-radius: 50%;
  padding: 1em;
  width: 7vw;
  height: 11vh;
}
.about__container__content__qualities div {
  text-align: left;
}