@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;


.footer{
        color: white;
    background-color: black;
    padding: 3em 0;
    h3{
        font-size: 1.5rem;
    }
    p{
        font-size: 2rem;
        text-align: left;
    }
    &__container{
        @include flex(space-between,center);
    }
        &__center{
            ul{
                li{
                    a{
                        color: white;
                        padding: 2em 0;
                    }
                }
            }
        }
        &__right{
            form{
                margin-top: 3em;
                font-size: 0;
                input{
                    width: 65%;
                    padding: 2em;
                    border: none;
                    outline: none;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                button{
                    width: 35%;
                    color: white;
                    background-color: orange;
                    padding: 2em;   
                    border: none;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
}















