@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
.hero{
    &__container{
        @include flex(space-between,center);
        h1{
            font-size: 7rem;
        }
    }

    &__left{
        &--orange{
             color: $orange;
        }
        &__search{
            @include flex(flex-start,center);
            border: 1px solid $black;
            border-radius: 5px;
            width:50%;
            &input,[type="text"],[type="submit"]{
                border: none;
                outline: none;
                padding: 1em;
            }
        }
    }

    &__left, &__right{
        flex: 1;
        gap: 2em;
    }
}

